<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>

    <div class="weather-overview-content">
        <form action="/weather-sites" method="POST">
            <input type="text" id="cityInput" value="" placeholder="Skriv by navn her" name="cityInput">
            <br>
            <button id="search">Søg</button>
            <h2 id="currentCityName">Søg efter en by</h2>
        </form>
        <div id="fiveDayWeather">
            <div id="iconsContainer">
                <div id="icons">
                    <p class="weather" id="day1"><%= day1 %></p>
                    <div class="image"><img src="https://i.imgur.com/revg4uS.png" id="img1"></div>
                    <p class="maxValue" id="day1MaxValue"><%= day1temp%></p>
                    
                </div>
                <div id="icons">
                    <p class="weather" id="day2"><%= day2 %></p>
                    <div class="image"><img src="https://i.imgur.com/revg4uS.png" id="img2"></div>
                    <p class="maxValue" id="day2MaxValue"><%= day2temp%></p>
                </div>
                <div id="icons">
                    <p class="weather" id="day3"><%= day3 %></p>
                    <div class="image"><img src="https://i.imgur.com/revg4uS.png" id="img3"></div>
                    <p class="maxValue" id="day3MaxValue"><%= day3temp%></p>
                </div>
                <div id="icons">
                    <p class="weather" id="day4"><%= day4 %></p>
                    <div class="image"><img src="https://i.imgur.com/revg4uS.png" id="img4"></div>
                    <p class="maxValue" id="day4MaxValue"><%= day4temp%></p>
                </div>
                <div id="icons">
                    <p class="weather" id="day5"><%= day5 %></p>
                    <div class="image"><img src="https://i.imgur.com/revg4uS.png" id="img5"></div>
                    <p class="maxValue" id="day5MaxValue"><%= day5temp%></p>
                </div>
            </div>
        </div>
    </div>




    <%- include("./partials/footer.ejs") %>
</body>
</html>